@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  height: 100%;

  ::-webkit-scrollbar {
    width: 5px;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(151, 18, 166);
    border-radius: 12px;
  }
}

#root {
  margin: 0;
  background-color: #f3f4f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1,
p {
  margin: 0;
  padding: 0;
}
